.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

node_modules
./node/**/*.js
./node/**/*.js.map
*.ps1
*.cmd
out/
output/
video/

svelte/SvelteSample
output.frag.glsl
output-raw.frag.glsl

a.exe
a.exp
a.lib